-   
    // TODO: nombre de variable enchiladas
    var burritos = {
        name: "Burritos",
        category: "burritos",
        descripcion: "Tortilla enrollada con frijoles, arroz, queso condimentada y sellada acompañada con nachos, guacamole y pico de gallo.",
        img:{
            picture:"BURRITOS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Burrito de Carne",
                priceuno: 32,
                pricedos: 48,
            },
            {
                name: "Burrito de Pescado",
                priceuno: 34,
                pricedos: 50,
            },{
                name: "Burrito de Pollo",
                priceuno: 29,
                pricedos: 46,
            },{
                name: "Burrito de Cerdo",
                priceuno: 32,
                pricedos: 47,
            },{
                name: "Burrito Vegetariana",
                priceuno: 28,
                pricedos: 44,
            },{
                name: "Burrito Mixto (res-pollo)",
                priceuno: 32,
                pricedos: 47,
            }
            
        ],
        status: true
    }