-   
    // TODO: nombre de variable enchiladas
    var chili = {
        name: "Chili",
        category: "chili",
        descripcion: "Un sopa espesa y picante de frijoles y chili servido con arroz, nachos y guacamole.",
        img:
        {
            picture:"CHILI",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Chili con Carne",
                priceuno: 26,
                pricedos: 46,
            }
        ],
        status: true
    }