-   
    // TODO: nombre de variable combos
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>1</span>",
                description: "Nachos Supremos M +  Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 34,
                price_dos: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO2",
                    extention: ".jpg"
                },
                text: "Combo <span>2</span>",
                description: "Quesadilla Pollo G + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 44,
                price_dos: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO3",
                    extention: ".jpg"
                },
                text: "Combo <span>3</span>",
                description: "Burrito Mixto G + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 49,
                price_dos: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO4",
                    extention: ".jpg"
                },
                text: "Combo <span>4</span>",
                description: "Hamburguesa Mexicana + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 49,
                price_dos: false,
                link:"combo4.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO5",
                    extention: ".jpg"
                },
                text: "Combo <span>5</span>",
                description: "Chili Con Carne M + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 34,
                price_dos: false,
                link:"combo5.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO6",
                    extention: ".jpg"
                },
                text: "Combo <span>6</span>",
                description: "Pique Macho Mexicano M + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 48,
                price_dos: false,
                link:"combo6.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO7",
                    extention: ".jpg"
                },
                text: "Combo <span>7</span>",
                description: "Ensalada Mexicana M + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 28,
                price_dos: false,
                link:"combo7.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO8",
                    extention: ".jpg"
                },
                text: "Combo <span>8</span>",
                description: "Tacos Mixto  M + Pepsi, 7-Up ó Guaraná de 500 ml",
                price_uno: 34,
                price_dos: false,
                link:"combo8.html",
                status: true
            }
        ]
    }