-   
    // TODO: nombre de variable combos
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>1</span>",
                description: "NACHOS SUPREMOS M +  Pepsi, 7-Up ó Guaraná.",
                price_uno: 34,
                price_dos: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>2</span>",
                description: "QUESADILLA POLLO G + Pepsi, 7-Up ó Guaraná.",
                price_uno: 44,
                price_dos: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>3</span>",
                description: "BURRITO MIXTO G + Pepsi, 7-Up ó Guaraná.",
                price_uno: 49,
                price_dos: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>4</span>",
                description: "HAMBURGUESA MEXICANA + Pepsi, 7-Up ó Guaraná.",
                price_uno: 49,
                price_dos: false,
                link:"combo.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>5</span>",
                description: "CHILI CON CARNE M + Pepsi, 7-Up ó Guaraná.",
                price_uno: 34,
                price_dos: false,
                link:"combo5.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>6</span>",
                description: "PIQUE MACHO MEXICANO M + Pepsi, 7-Up ó Guaraná.",
                price_uno: 48,
                price_dos: false,
                link:"combo6.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>7</span>",
                description: "ENSALADA MEXICANA M + Pepsi, 7-Up ó Guaraná.",
                price_uno: 28,
                price_dos: false,
                link:"combo7.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO1",
                    extention: ".jpg"
                },
                text: "Combo <span>8</span>",
                description: "TACOS MIXTO  M + Pepsi, 7-Up ó Guaraná.",
                price_uno: 34,
                price_dos: false,
                link:"combo8.html",
                status: true
            }
        ]
    }