-   
    // TODO: nombre de variable enchiladas
    var enchiladas = {
        name: "Enchiladas",
        category: "enchiladas",
        descripcion: "Enchilada condimentada  acompañada de queso enrollado en tortilla cubierta de salsa roja a base de chilli fresco.",
        img:
        {
            picture:"ENCHILADAS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Enchilada de Carne",
                priceuno: 32,
                pricedos:48,
            },
            {
                name: "Enchilada de Pescado",
                priceuno: 32,
                pricedos:48,
            },
            {
                name: "Enchilada de Pollo",
                priceuno: 32,
                pricedos:48,
            },{
                name: "Enchillada de Cerdo",
                priceuno: 32,
                pricedos:48,
            },{
                name: "Enchilada Vegetariana",
                priceuno: 32,
                pricedos:48,
            },{
                name: "Enchilada Mixta (res-pollo)",
                priceuno: 32,
                pricedos:48,
            }
        ],
        status: true
    }