-   
    // TODO: nombre de variable enchiladas
    var fajitas = {
        name: "Fajitas",
        category: "fajitas",
        descripcion: "Tiras de pollo, cerdo, pescado o res  envueltas en tortillas  condimentadas y selladas juntamente con cebolla, pimiento morrón y un toque de cilantro.",
        img:{
            picture:"FAJITAS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Fajita de Carne",
                priceuno: 32,
                pricedos: 48,
            },
            {
                name: "Fajita de Pescado",
                priceuno: 34,
                pricedos: 50,
            },{
                name: "Fajita de Pollo",
                priceuno: 29,
                pricedos: 46,
            },{
                name: "Fajita de Cerdo",
                priceuno: 32,
                pricedos: 47,
            },{
                name: "Fajita Vegetariana",
                priceuno: 28,
                pricedos: 44,
            },{
                name: "Fajita Mixto (res-pollo)",
                priceuno: 32,
                pricedos: 47,
            }
            
        ],
        status: true
    }