-   
    // TODO: nombre de variable enchiladas
    var flautas = {
        name: "Flautas",
        category: "flautas",
        descripcion: "Tortillas enrolladas  fritas acompañadas  de pico de gallo y queso servido con nachos, crema agria y gaucamole.",
        img:{
            picture:"FLAUTAS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Flauta de Carne",
                priceuno: 32,
                pricedos: 48,
            },
            {
                name: "Flauta de Pescado",
                priceuno: 34,
                pricedos: 50,
            },{
                name: "Flauta de Pollo",
                priceuno: 29,
                pricedos: 46,
            },{
                name: "Flauta de Cerdo",
                priceuno: 32,
                pricedos: 47,
            },{
                name: "Flauta Vegetariana",
                priceuno: 28,
                pricedos: 44,
            },{
                name: "Flauta Mixto (res-pollo)",
                priceuno: 32,
                pricedos: 47,
            }
            
        ],
        status: true
    }