-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            status: true
        },
        {
            name: "Nachos",
            link: "nachos.html",
            status: true
        },
        {
            name: "Chili",
            link: "chili.html",
            status: true
        },
        {
            name: "Tacos",
            link: "tacos.html",
            status: true
        },
        {
            name: "Quesadillas",
            link: "quesadillas.html",
            status: true
        },
        {
            name: "Burritos",
            link: "burritos.html",
            status: true
        },
        {
            name: "Fajitas",
            link: "fajitas.html",
            status: true
        },
        {
            name: "Enchiladas",
            link: "enchiladas.html",
            status: true
        },
        {
            name: "Flautas",
            link: "flautas.html",
            status: true
        },
        {
            name: "Otros",
            link: "otros.html",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]