-   
    // TODO: nombre de variable enchiladas
    var nachos = {
        name: "Nachos",
        category: "nachos",
        descripcion: "Nachos, con chili de carne, salsa de queso, sour cream, guacamole y pico de gallo.",
        img:{
            picture:"NACHOS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Nachos Surpremos",
                priceuno: 26,
                pricedos:46,
            },
            {
                name: "Nachos con Queso",
                priceuno: 20,
                pricedos: 38,
            }
        ],
        status: true
    }