-   
    // TODO: nombre de variable combos
    var otros = {
        name: "Otros",
        category: "otros",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"ENSALSADA_MEXICANA",
                    extention: ".jpg"
                },
                text: "Ensalada Mexicana",
                description: "Mix de vegetales con choclitos.",
                price_uno: 26,
                price_dos: false,
                link:"EnsaladaMexicana.html",
                status: true
            },
            {
                img: {
                    picture:"HUEVOS_RANCHEROS",
                    extention: ".jpg"
                },
                text: "Huevos Rancheros",
                description: "Tortilla cubierta con huevos fritos, pure de frijoles, maíz, palta y una salsa de tomate.",
                price_uno: 32,
                price_dos: false,
                link:"HuevosRancheros.html",
                status: true
            },
            {
                img: {
                    picture:"HAMBURGUESA_MEXICANA",
                    extention: ".jpg"
                },
                text: "Hamburguesa Mexicana",
                description: "Nuestra hamburguesa casera dentro de tortillas crocantes, servida con nachos, guacamole, pico de gallo y crema agria.",
                price_uno: 42,
                price_dos: false,
                link:"HamburguesaMexicana.html",
                status: true
            },
            {
                img: {
                    picture:"ALBONDIGAS_A_LA_JALISCO",
                    extention: ".jpg"
                },
                text: "Albondigas a la Jalisco",
                description: "Receta especial de la casa, albóndigas condimentadas, bañadas en salsa de tomate con chili, acompañadas de arroz y nachos.",
                price_uno: 42,
                price_dos: false,
                link:"AlbondigasalaJalisco.html",
                status: true
            },
            {
                img: {
                    picture:"PIQUE_MACHO_MEXICANO",
                    extention: ".jpg"
                },
                text: "Pique macho Mexicano",
                description: "Nuestro pique al estilo mexicano hecho con tequila, jalapeños y tortilla.",
                price_uno: 42,
                price_dos: false,
                link:"PiquemachoMexicano.html",
                status: true
            },
            {
                img: {
                    picture:"ALMUERZO_DEL_DIA",
                    extention: ".jpg"
                },
                text: "Almuerzo del Día",
                description: "Plato del día",
                price_uno: 25,
                price_dos: false,
                link:"AlmuerzodelDia.html",
                status: true
            }
        ]
    }