-   
    // TODO: nombre de variable PLATES
    var plates = {
        name: "Platos",
        category: "platos",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Nombre_Plato_1",
                description: "descripcion_del_plato",
                price_uno: "25",
                price_dos: "30",
                link:"plato.html",
                status: true
            },
        ]
    }