-   
    // TODO: nombre de variable enchiladas
    var quesadillas = {
        name: "Quesadillas",
        category: "quesadillas",
        descripcion: "Tortilla tostada con queso acompañada de nachos, guacamole y pico de gallo.",
        img:{
            picture:"QUESADILLAS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Quesadilla de Carne",
                priceuno: 30,
                pricedos:48,
            },
            {
                name: "Quesadilla de Pescado",
                priceuno: 28,
                pricedos:46,
            },
            {
                name: "Quesadilla de Pollo",
                priceuno: 24,
                pricedos:48,
            },
            {
                name: "Quesadilla de Cerdo",
                priceuno: 26,
                pricedos:44,
            },
            {
                name: "Quesadilla Vegetariana",
                priceuno: 24,
                pricedos:40,
            }
            
        ],
        status: true
    }