-   
    // TODO: nombre de variable enchiladas
    var tacos = {
        name: "Tacos",
        category: "tacos",
        descripcion: "Tacos  acompañados de nachos, guacamole y pico de gallo.",
        img:{
            picture:"TACOS",
            extention: ".jpg"
        },
        platos:[
            {
                name: "Taco de Carne",
                priceuno: 26,
                pricedos:42,
            },
            {
                name: "Taco de Pescado",
                priceuno: 28,
                pricedos: 44,
            },
            {
                name: "Taco de Pollo",
                priceuno: 25,
                pricedos: 39,
            },
            {
                name: "Taco Vegetariana",
                priceuno: 22,
                pricedos: 36,
            },
            {
                name: "Taco Mixto (res-pollo)",
                priceuno: 27,
                pricedos: 40,
            },
            {
                name: "Taco Pastor (cerdo)",
                priceuno: 28,
                pricedos: 46,
            }
        ],
        status: true
    }