extends ../templates/template-dishes
include ../mixins/platos
block append config
    - page = burritos.name
    - metadescripcion = burritos.descripcion
block content
    .dishessecond
        +dishes(burritos,sponsor[numSponsor])