extends ../templates/template-dishes
include ../mixins/platos
block append config
    - page = fajitas.name
    - metadescripcion = fajitas.descripcion
block content
    .dishessecond
        +dishes(fajitas,sponsor[numSponsor])