//- TODO: * Importar los platos que se usaran para poder usar los arreglos en las páginas
include ../config/enchiladas
include ../config/nachos
include ../config/tacos
include ../config/quesadillas
include ../config/burritos
include ../config/flautas
include ../config/fajitas
include ../config/chili
include ../config/combos
include ../config/otros
//- importamos los archivos de configuración
block config
    include ../config/config
include ../includes/head