mixin header-dishes
    picture.puntas
        source(media="(max-width: 480px)", srcset="media/puntas-small.png").puntas__img&attributes(attributes)
        img.puntas__img(src="media/puntas-long.png", alt="footer")&attributes(attributes)
        