@media screen and(max-width:360px) {
  .dishes {
    width: 90%;
    &__text {
      font-size: 1.2em;
    }
  }
  .dishessecond{
    &__body{
      width: 90%;
    }
  }
  .menu {
    grid-column-gap: 10px;
    &__item {
    }
  }
  .lists {
  }
  .chops {
  }
}
