@media (max-width:320px)
{
    .menu{
        &__nav{
            width: 95%;
        }
        &__item{
            width: 120px;
            font-size: 1.1em;
        }
    }
    .dishes{
        grid-template-columns: repeat(1,1fr);
        &__text{
            font-size: .9em;
        }
    }
}