@media screen and(max-width:480px) {
  body {
    font-size: 16px;
    @if $fondo-s {
      background-image: url($fondo-s);
    }
  }
  .container {
    width: 90%;
  }
  .headerdishes {
    font-size: 1.2em;
  }
  .line{
    width: 70%;
  }
  .dishes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    &__text {
      text-align: center;
    }
    &__name {
    }
  }
  .dishessecond{
    font-size: 14px;
    margin-bottom: 5px;
    &__picture{
      margin-bottom: 45px;
    }
    &__body-second{
      width: 100%;
    }
    &__body{
      width: 80%;
      margin:0 auto;
    }
  }
  .plate {
    font-size: 16px;
    &__img {
      width: 100%;
    }
    &__body {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__logo {
      right: 10px;
      width: 140px;
    }
    &__title {
      font-size: 1.5em;
      line-height: 1.1em;
      margin-bottom: 14px;
    }
    &__price {
    }
    &__text {
      margin-top: 14px;
    }
  }
  .sponsors {
    &__content{
      width: 50px;
    }
  }
  #Pacenia {
    width: 85px;
  }
  #huari {
    width: 85px;
  }
  #Guarana {
    width: 60px;
  }
  .header {
    &__logo {
      width: 200px;
    }
    margin-bottom: 75px;
  }
  .menu {
    &__nav {
      margin: 0 auto;
      width: 90%;

    }
    &__item {
      width: 140px;
      font-size: 1.3em;
      margin-bottom: 20px;
      &:nth-child(odd)
      {
        margin-left: 0px;
        margin-right: 10px;
      }
      &:nth-child(even)
      {
        margin-right: 0px;
        margin-left: 10px;
      }
    }
  }
  .btn {
    width: 80px;
  }
  .lists {
    &__content {
      width: 85%;
      margin: 0 auto;
    }
  }
  .chops {
    &__prices {
      grid-template-columns: repeat(4, 50px);
    }
    &__price {
      width: 50px;
    }
    &__name {
      width: 50px;
    }
  }
}
